!!!
%html
  %head
    :css
      pre{font-size:11px;font-family:Courier new;}
  %body
    %pre
      404 - NOT FOUND
      :plain
                           /|_
                          /   |_
                         /     /
                        /      >
                       (      >
                      /      /
                     /     /
                    /      /
                 __/      \_____
                /'             |
                 /     /-\     /
                /      /  \--/
               /     /
              /      /
             (      >
            /      >
           /     _|
          /  __/
         /_/