!!!
%html
  %head
    :css
      pre{font-size:11px;font-family:Courier new;}
  %body
    %pre
      500 - ERROR [#{env['sinatra.error'].message}]<br><br>
      :plain
      <br>
             \    |\
              \   | \
              ____| |__
              \___ \|__\
                  \  \
                   |  \
                   \ * \_
          \         \  \ \     \
           \        /\  \|\ _   \
           ________/  X  ~~//_____
           \_________/ \  //|_____\
                        \/o/
                        //
                        ~
